<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Git-Flow</title>
</head>
<body>
    <h1>Hello World, Git-Flow!</h1>

    <table>
        <tr>
            <td><s>Create git-flow repository</s></td>
        </tr>
        <tr>
            <td><s>Create branch master</s></td>            
        </tr>
        <tr>
            <td><s>Create branch develop</s></td>
        </tr>
        <tr>
            <td><s>Create project Django for example</s></td>
        </tr>
        <tr>
            <td><s>Start feature appHello</s></td>
        </tr>
        <tr>
            <td><s>Finish feature appHello</s></td>
        </tr>
    </table>
</body>
</html>